.editorContainer {
  background-color: lightseagreen;
  height: 80vh;
  width: 60vw;
  margin: 10vh auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}

.myeditor {
  background-color: white;
  color: black;
  width: 70%;
  height: 70%;
  border-radius: 2%;
}
